/* --

Custom CSS File
Please make any amendments to your theme's CSS in this file rather than "styles.css"
This will make updating your theme files much easier without overwriting your changes!
Example: Change the background colour to black (!important is used to overwrite any duplicate classes in styles.css)
body { background: #000!important; }

-- */
.entry pre {
  background-color: #333;
  color: #fff;
  overflow: auto;
  margin: 0 0 10px;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.42857143;
  /* white-space:pre-wrap;  css3.0*/
  /* white-space:-moz-pre-wrap;  Firefox*/
  /* white-space:-pre-wrap;  Opera4-6*/
  /* white-space:-o-pre-wrap;  Opera7*/
  /* word-break: break-word; InternetExplorer5.5+*/
}

.entry blockquote{
  background: #edf2f7;
  border-color: #2A4E68;
  color: #2A4E68;
  border-left: 4px solid;
  border-radius: 4px;
  padding: 20px;
  margin: 30px 0;
 }
.entry blockquote > p{ margin-bottom: 0px; font:13px/21px "Microsoft YaHei","ו", 'Myriad Pro','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;}

.attachment-slider-image-blog.wp-post-image{
	height: 160px;
}

#full-top{
	position:fixed;
	left:50%;
	bottom:90px;
	margin-left:495px;
	z-index:100;
	text-align:center;
	cursor:pointer;
}

#full-btm{
	position:fixed;
	left:50%;
	bottom:60px;
	margin-left:495px;
	z-index:100;
	text-align:center;
	cursor:pointer;
}

h2{
	margin-top: 20px!important;
	border-bottom: 1px solid #eaeaea !important;
}

.tutorial a{
	text-decoration:none;
	width:44%;
	display:inline-block;
	margin:0 5px 15px 0;
	padding:2px 6px;
}

#sidebar .widget-title{
	margin-bottom:5px;
}
