/* --

Custom CSS File
Please make any amendments to your theme's CSS in this file rather than "styles.css"
This will make updating your theme files much easier without overwriting your changes!
Example: Change the background colour to black (!important is used to overwrite any duplicate classes in styles.css)
body { background: #000!important; }

-- */
.entry pre {
  background-color: #333;
  color: #fff;
  overflow: auto;
  margin: 0 0 10px;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.42857143;
  word-break: break-word; }

.entry blockquote{
  background: #edf2f7;
  border-color: #2A4E68;
  color: #2A4E68;
  border-left: 4px solid;
  border-radius: 4px;
  padding: 20px;
  margin: 30px 0; }
.entry blockquote > p{ margin-bottom: 0px; }